@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">
        This web application is designed to add employees to various companies, monitor company size, and add new companies. It will be useful for keeping track of data about employees and companies.
    </p>
    <br />
    <p class="lead">
        To add and view employees, you need to go to the "Employees" menu tab.
        To add and view companies, go to the "Companies" tab.
    </p>
</div>
